* {
  margin: 0;
  padding: 0;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  background: #eeeeee;
  font-size: 110%;
  font-weight: 300;
  font-family: 'Yantramanav', sans-serif;
}

body a {
  color : #bd0070;
  text-decoration: none;
}

div.fix {
  clear: both;
}

section.wrap {
  width: 990px;
  margin: 0 auto;
  position: relative;
}

div.content {
  width: 100%;
  padding: 12px 12px;
  background: #ffffff;
  position: relative;
  box-sizing: border-box;
}

div.content p {
  line-height: 1.6em;
}

div.content ul {
  list-style-position: inside;
}

div.content ul li {
	color: #bd0070;
}

div.content ul li span {
  color: #000000;
}

header#head {
  width: 100%;
  height: 142px;
  background: #bd0070;
}

header#head div#logohead {
  width: 240px;
  height: 142px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/logo.png");
}

header h1.pageTitle {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  padding: 0 0 12px;
}

section div.content #map {
  width: 100%;
  height: 360px;
  margin: 0 auto 12px;
  background: #bd0070;
}

section#stationsList {
  width: 65%;
  float: left;
}

section#stationsList article {
  width: 100%;
  border: 1px solid #bd0070;
  margin: 0 0 12px;
}

section#stationsList article:last-child {
  margin: 0;
}

section#stationsList article div.content {
  padding: 6px;
}

section#stationsList article h3.stationName {
  color: #bd0070;
  text-transform: uppercase;
  font-weight: bold;
}

section#stationsList article em.localisation {
  color: #777777;
}

section#form {
  float: right;
  width: 32%;
}

section#form header {
  background: rgba(0,0,0, .5);
}

section#form div.content {
  padding: 6px;
}

div#formblock {
  width: 100%;
  background: #bd0070;
  position: relative;
  padding: 0 0 6px;
  text-align: center;
}

div#formblock header {
  margin: 6px 0;
}

div#formblock header h2 {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  padding: 5px 0 2px;
}

footer#foot {
  width: 990px;
  background: #eeeeee;
}

footer#foot p {
  font-size: .8rem;
  text-align: center;
  margin: 0 0 19px;
}

footer#foot div#logofoot {
  width: 130px;
  height: 72px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/logo_foot.png");
}
